body{
    font-family:'Roboto', arial;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #FFFFFF;
    
}
.container{
    display: flex;
    flex-direction: column;  
}
.navbar{
   
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-link{
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    pad: 10px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.main{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    pad: 90px;
}
.secondary{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}
.secondary p{
    font-family: 'Roboto', arial;
    opacity: 0.7;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}
.main button{
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}
.image img{
    width: 500px;
    height: 350px;
}
/* CARD SECTION */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
}

main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;

}

.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

/* QUOTE */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 7em 13em;
}

.quote p {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
}

.quote em {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

/* SIGN UP */
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.container2 button {
    border: 2px solid #FFF;
}

strong {
    font-size: 24px;
    color: #FFF;
}

/* FOOTER */
footer {
    background-color: #1f2937;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}
